@import "./colors";

// 项目类前缀
$prefix: m78 !default;

// 网格列数
$grid-num: 24 !default;

// 设计图宽度
$design-width: 750 !default;

$dpr: 2 !default;

// 主色
$color-1: $cyan-1 !default;
$color-2: $cyan-2 !default;
$color-3: $cyan-3 !default;
$color-4: $cyan-4 !default;
$color-5: $cyan-5 !default;
$color-6: $cyan-6 !default;
$color-7: $cyan-7 !default;
$color-8: $cyan-8 !default;
$color-9: $cyan-9 !default;
$color-10: $cyan-10 !default;

// 次要色
$color-sub-1: $red-1 !default;
$color-sub-2: $red-2 !default;
$color-sub-3: $red-3 !default;
$color-sub-4: $red-4 !default;
$color-sub-5: $red-5 !default;
$color-sub-6: $red-6 !default;
$color-sub-7: $red-7 !default;
$color-sub-8: $red-8 !default;
$color-sub-9: $red-9 !default;
$color-sub-10: $red-10 !default;

// 灰色系
$color-title-b: rgba(0, 0, 0, 0.9) !default; // Title
$color-primary-b: rgba(0, 0, 0, 0.75) !default; // 主要文本色
$color-second-b: rgba(0, 0, 0, 0.45) !default; // 次要文本色
$color-disable-b: rgba(0, 0, 0, 0.25) !default; // 禁用
$color-border-b: rgba(0, 0, 0, 0.15) !default; // 边框
$color-divider-b: rgba(0, 0, 0, 0.06) !default; // 分割线
$color-bg-b: rgba(0, 0, 0, 0.04) !default; // 分割线

$color-title-w: rgba(255, 255, 255, 0.95) !default;
$color-primary-w: rgba(255, 255, 255, 0.8) !default;
$color-second-w: rgba(255, 255, 255, 0.45) !default;
$color-disable-w: rgba(255, 255, 255, 0.30) !default;
$color-border-w: rgba(255, 255, 255, 0.20) !default;
$color-divider-w: rgba(255, 255, 255, 0.12) !default;
$color-bg-w: rgba(255, 255, 255, 0.08) !default;

// 功能色
$color-info: $blue-5 !default;
$color-success: $green-5 !default;
$color-error: $red-5 !default;
$color-warn: $orange-5 !default;

// 字号
$fs-sm: 12px !default;
$fs: 14px !default;
$fs-md: 16px !default;
$fs-lg: 24px !default;

// 字重
$fw: 400 !default;
$fw-md: 500 !default;
$fw-bold: bold !default;

// 行高
$line-height: 1.6 !default;

// 字体
$font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei, 'Segoe UI', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
'Noto Color Emoji', sans-serif !default;

$code-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace !default;

// 遮罩
$mask-b: rgba(0, 0, 0, 0.7) !default;
$mask-w: rgba(255, 255, 255, 0.7) !default;

// 阴影
$shadow-1-b: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px !default;
$shadow-1-b-focus: rgba(0, 0, 0, 0.3) 0px 2px 8px 0px !default;
$shadow-2-b: rgba(0, 0, 0, 0.2) 0px 4px 24px 0px !default;
$shadow-2-b-focus: rgba(0, 0, 0, 0.3) 0px 4px 24px 0px !default;
$shadow-3-b: rgba(0, 0, 0, 0.24) 0px 12px 30px 0px !default;
$shadow-3-b-focus: rgba(0, 0, 0, 0.3) 0px 12px 30px 0px !default;

$shadow-1-w: rgba(255, 255, 255, 0.4) 0px 2px 8px 0px !default;
$shadow-1-w-focus: rgba(255, 255, 255, 0.5) 0px 2px 8px 0px !default;
$shadow-2-w: rgba(255, 255, 255, 0.4) 0px 4px 24px 0px !default;
$shadow-2-w-focus: rgba(255, 255, 255, 0.5) 0px 4px 24px 0px !default;
$shadow-3-w: rgba(255, 255, 255, 0.4) 0px 12px 30px 0px !default;
$shadow-3-w-focus: rgba(255, 255, 255, 0.5) 0px 12px 30px 0px !default;

// 强调背景
$stress-shadow-w: -1px -1px 2px #fff, 1px 1px 2px #fff, 1px -1px 2px #fff, -1px 1px 2px #fff !default;
$stress-shadow-b: -1px -1px 2px #666, 1px 1px 2px #666, 1px -1px 2px #666, -1px 1px 2px #666 !default;

// 性质
$opacity: 0.45 !default;

$border-radius-sm: 2px !default;
$border-radius: 4px !default;
$border-radius-md: 8px !default;
$border-radius-lg: 16px !default;

// 断点
$xs: 0px !default; //	<576
$sm: 576px !default; //	≥576
$md: 768px !default; //	≥768
$lg: 992px !default; //	≥992
$xl: 1200px !default; //	≥1200
$xxl: 1600px !default; //	≥1600

// 层级
$z-index-base: 10 !default;
$z-index: 1000 !default;    //高于基础层
$z-index-drawer: 1400 !default;
$z-index-modal: 1800 !default;
$z-index-message: 2200 !default;

// 空间
$space-1: 4px !default;
$space-2: 8px !default;
$space-3: 12px !default;
$space-4: 16px !default;
$space-5: 20px !default;
$space-6: 24px !default;
$space-7: 28px !default;
$space-8: 32px !default;
$space-9: 36px !default;
$space-10: 40px !default;

// 动画
$animate-slow: 0.3s !default;
$animate-base: 0.2s !default;
$animate-fast: 0.1s !default;
