@import "./main";

body {

}

.box {
  flex: 1;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: $component-bg;
  margin: 16px 40px;
  border-radius: $border-radius;
}

.themewww {
  background-color: var(--m78-color);
}
