@import './sass-vars';
// 如果项目有旧浏览器的兼容需求，可以使用 https://github.com/postcss/postcss-custom-properties 插件来生成回退代码

:root {
  // 纯色
  --m78-pure: var(--m78-gray-1);
  // 窗体/大型区块 背景色
  --m78-body-bg: var(--m78-pure);
  // 组件背景色
  --m78-component-bg: var(--m78-pure);

  //主题色
  --m78-color-1: #{$color-1};
  --m78-color-2: #{$color-2};
  --m78-color-3: #{$color-3};
  --m78-color-4: #{$color-4};
  --m78-color-5: #{$color-5};
  --m78-color-6: #{$color-6};
  --m78-color-7: #{$color-7};
  --m78-color-8: #{$color-8};
  --m78-color-9: #{$color-9};
  --m78-color-10: #{$color-10};
  --m78-color: var(--m78-color-6);
  --m78-color-opacity-sm: #{rgba($color-6, 0.2)};
  --m78-color-opacity-md: #{rgba($color-6, 0.5)};
  --m78-color-opacity-lg: #{rgba($color-6, 0.75)};

  // 次要主题色
  --m78-color-sub-1: #{$color-sub-1};
  --m78-color-sub-2: #{$color-sub-2};
  --m78-color-sub-3: #{$color-sub-3};
  --m78-color-sub-4: #{$color-sub-4};
  --m78-color-sub-5: #{$color-sub-5};
  --m78-color-sub-6: #{$color-sub-6};
  --m78-color-sub-7: #{$color-sub-7};
  --m78-color-sub-8: #{$color-sub-8};
  --m78-color-sub-9: #{$color-sub-9};
  --m78-color-sub-10: #{$color-sub-10};
  --m78-color-sub: var(--m78-color-sub-6);

  // 灰色系
  --m78-color-title-b: #{$color-title-b}; // Title
  --m78-color-primary-b: #{$color-primary-b}; // 主要文本色
  --m78-color-second-b: #{$color-second-b}; // 次要文本色
  --m78-color-disable-b: #{$color-disable-b}; // 禁用
  --m78-color-border-b: #{$color-border-b}; // 边框
  --m78-color-divider-b: #{$color-divider-b}; // 分割线
  --m78-color-bg-b: #{$color-bg-b}; // 分割线

  --m78-color-title-w: #{$color-title-w};
  --m78-color-primary-w: #{$color-primary-w};
  --m78-color-second-w: #{$color-second-w};
  --m78-color-disable-w: #{$color-disable-w};
  --m78-color-border-w: #{$color-border-w};
  --m78-color-divider-w: #{$color-divider-w};
  --m78-color-bg-w: #{$color-bg-w};

  --m78-color-title: var(--m78-color-title-b); // Title
  --m78-color-primary: var(--m78-color-primary-b); // 主要文本色
  --m78-color-second: var(--m78-color-second-b); // 次要文本色
  --m78-color-disable: var(--m78-color-disable-b); // 禁用
  --m78-color-border: var(--m78-color-border-b); // 边框
  --m78-color-divider: var(--m78-color-divider-b); // 分割线
  --m78-color-bg: var(--m78-color-bg-b); // 分割线

  --m78-color-title-rv: var(--m78-color-title-w); // Title
  --m78-color-primary-rv: var(--m78-color-primary-w); // 主要文本色
  --m78-color-second-rv: var(--m78-color-second-w); // 次要文本色
  --m78-color-disable-rv: var(--m78-color-disable-w); // 禁用
  --m78-color-border-rv: var(--m78-color-border-w); // 边框
  --m78-color-divider-rv: var(--m78-color-divider-w); // 分割线
  --m78-color-bg-rv: var(--m78-color-bg-w); // 分割线

  // 灰
  --m78-gray-1: #{$grey-1};
  --m78-gray-2: #{$grey-2};
  --m78-gray-3: #{$grey-3};
  --m78-gray-4: #{$grey-4};
  --m78-gray-5: #{$grey-5};
  --m78-gray-6: #{$grey-6};
  --m78-gray-7: #{$grey-7};
  --m78-gray-8: #{$grey-8};
  --m78-gray-9: #{$grey-9};
  --m78-gray-10: #{$grey-10};
  --m78-gray-11: #{$grey-11};
  --m78-gray-12: #{$grey-12};
  --m78-gray-13: #{$grey-13};

  // 功能色
  --m78-color-info: #{$color-info};
  --m78-color-success: #{$color-success};
  --m78-color-error: #{$color-error};
  --m78-color-warn: #{$color-warn};

  // 文字
  --m78-fs-sm: #{$fs-sm};
  --m78-fs: #{$fs};
  --m78-fs-md: #{$fs-md};
  --m78-fs-lg: #{$fs-lg};

  --m78-fw: #{$fw};
  --m78-fw-md: #{$fw-md};
  --m78-fw-bold: #{$fw-bold};

  --m78-line-height: #{$line-height};

  --m78-font-family: #{$font-family};
  --m78-code-family: #{$code-family};

  // 遮罩
  --m78-mask-b: #{$mask-b};
  --m78-mask-w: #{$mask-w};
  --m78-mask: var(--m78-mask-w);

  // 阴影
  --m78-shadow-1-b: #{$shadow-1-b};
  --m78-shadow-1-b-focus: #{$shadow-1-b-focus};
  --m78-shadow-2-b: #{$shadow-2-b};
  --m78-shadow-2-b-focus: #{$shadow-2-b-focus};
  --m78-shadow-3-b: #{$shadow-3-b};
  --m78-shadow-3-b-focus: #{$shadow-3-b-focus};

  --m78-shadow-1-w: #{$shadow-1-w};
  --m78-shadow-1-w-focus: #{$shadow-1-w-focus};
  --m78-shadow-2-w: #{$shadow-2-w};
  --m78-shadow-2-w-focus: #{$shadow-2-w-focus};
  --m78-shadow-3-w: #{$shadow-3-w};
  --m78-shadow-3-w-focus: #{$shadow-3-w-focus};

  --m78-shadow-1: var(--m78-shadow-1-b);
  --m78-shadow-1-focus: var(--m78-shadow-1-b-focus);
  --m78-shadow-2: var(--m78-shadow-2-b);
  --m78-shadow-2-focus: var(--m78-shadow-2);
  --m78-shadow-3: var(--m78-shadow-3-b);
  --m78-shadow-3-focus: var(--m78-shadow-3-b-focus);

  --m78-stress-shadow-w: #{$stress-shadow-w};
  --m78-stress-shadow-b: #{$stress-shadow-b};

  // 性质
  --m78-opacity: #{$opacity};

  --m78-border-radius-sm: #{$border-radius-sm};
  --m78-border-radius: #{$border-radius};
  --m78-border-radius-md: #{$border-radius-md};
  --m78-border-radius-lg: #{$border-radius-lg};

  --m78-xs: #{$xs}; //	<576
  --m78-sm: #{$sm}; //	≥576
  --m78-md: #{$md}; //	≥768
  --m78-lg: #{$lg}; //	≥992
  --m78-xl: #{$xl}; //	≥1200
  --m78-xxl: #{$xxl}; //	≥1600

  // 层级
  --m78-z-index-base: #{$z-index-base};
  --m78-z-index: #{$z-index};    //高于基础层
  --m78-z-index-drawer: #{$z-index-drawer};
  --m78-z-index-modal: #{$z-index-modal};
  --m78-z-index-message: #{$z-index-message};

  // 间距
  --m78-space-1: #{$space-1};
  --m78-space-2: #{$space-2};
  --m78-space-3: #{$space-3};
  --m78-space-4: #{$space-4};
  --m78-space-5: #{$space-5};
  --m78-space-6: #{$space-6};
  --m78-space-7: #{$space-7};
  --m78-space-8: #{$space-8};
  --m78-space-9: #{$space-9};
  --m78-space-10: #{$space-10};

  // 动画
  --m78-animate-slow: #{$animate-slow};
  --m78-animate-base: #{$animate-base};
  --m78-animate-fast: #{$animate-fast};
}

//  切换内置样式的主题色, 需要搭配css-var.scss模块使用
//  当使用react等的state库管理主题时，可以同时在html上设置data-theme-dark使其生效

:root[data-theme=dark] {
  --m78-gray-1: #{$grey-13};
  --m78-gray-2: #{$grey-12};
  --m78-gray-3: #{$grey-11};
  --m78-gray-4: #{$grey-10};
  --m78-gray-5: #{$grey-9};
  --m78-gray-6: #{$grey-8};
  --m78-gray-7: #{$grey-7};
  --m78-gray-8: #{$grey-6};
  --m78-gray-9: #{$grey-5};
  --m78-gray-10: #{$grey-4};
  --m78-gray-11: #{$grey-3};
  --m78-gray-12: #{$grey-2};
  --m78-gray-13: #{$grey-1};

  --m78-body-bg: #18191a; // 单独指定
  --m78-component-bg: var(--m78-gray-2);

  --m78-color-title: var(--m78-color-title-w);
  --m78-color-primary: var(--m78-color-primary-w);
  --m78-color-second: var(--m78-color-second-w);
  --m78-color-disable: var(--m78-color-disable-w);
  --m78-color-border: var(--m78-color-border-w);
  --m78-color-divider: var(--m78-color-divider-w);
  --m78-color-bg: var(--m78-color-bg-w);
  --m78-color-title-rv: var(--m78-color-title-b);
  --m78-color-primary-rv: var(--m78-color-primary-b);
  --m78-color-second-rv: var(--m78-color-second-b);
  --m78-color-disable-rv: var(--m78-color-disable-b);
  --m78-color-border-rv: var(--m78-color-border-b);
  --m78-color-divider-rv: var(--m78-color-divider-b);
  --m78-color-bg-rv: var(--m78-color-bg-b);
  --m78-mask: var(--m78-mask-b);
  --m78-shadow-1: var(--m78-shadow-1-w);
  --m78-shadow-1-focus: var(--m78-shadow-1-w-focus);
  --m78-shadow-2: var(--m78-shadow-2-w);
  --m78-shadow-2-focus: var(--m78-shadow-2-w-focus);
  --m78-shadow-3: var(--m78-shadow-3-w);
  --m78-shadow-3-focus: var(--m78-shadow-3-w-focus);

}
