@import "./colors";
// -------------------- 基础 --------------------

// 项目类前缀
$prefix: m78 !default;

// 网格列数
$grid-num: 24 !default;

// 设计图宽度
$design-width: 750 !default;
$dpr: 2 !default;

// -------------------- 颜色 ---------------------
// 功能色&主题色
$color-info: $blue-5 !default;
$color-success: $green-5 !default;
$color-error: $red-5 !default;
$color-warn: $orange-5 !default;

// 亮色 & 暗色
$white: $grey-1 !default;
$black: $grey-12 !default;

// body背景色
$body-bg: $grey-3 !default;
$body-bg-b: $grey-11 !default;

// 组件背景色
$component-bg: $white !default;
$component-bg-b: $black !default;

// 主题色
// 起新项目时可以到这里生成主题色 https://ant.design/docs/spec/colors-cn
$color-1: $cyan-1 !default;
$color-2: $cyan-2 !default;
$color-3: $cyan-3 !default;
$color-4: $cyan-4 !default;
$color-5: $cyan-5 !default;
$color-6: $cyan-6 !default;
$color-7: $cyan-7 !default;
$color-8: $cyan-8 !default;
$color-9: $cyan-9 !default;
$color-10: $cyan-10 !default;
$color: $color-6 !default;

// 次要主题色
$color-sub-1: $red-1 !default;
$color-sub-2: $red-2 !default;
$color-sub-3: $red-3 !default;
$color-sub-4: $red-4 !default;
$color-sub-5: $red-5 !default;
$color-sub-6: $red-6 !default;
$color-sub-7: $red-7 !default;
$color-sub-8: $red-8 !default;
$color-sub-9: $red-9 !default;
$color-sub-10: $red-10 !default;
$color-sub: $red-6 !default;

// 黑白
$b-title: rgba(0, 0, 0, 0.9) !default; // Title
$b-primary: rgba(0, 0, 0, 0.75) !default; // 主要文本色
$b-second: rgba(0, 0, 0, 0.45) !default; // 次要文本色
$b-disable: rgba(0, 0, 0, 0.25) !default; // 禁用
$b-border: rgba(0, 0, 0, 0.15) !default; // 边框
$b-divider: rgba(0, 0, 0, 0.06) !default; // 分割线

$w-title: rgba(255, 255, 255, 0.95) !default;
$w-primary: rgba(255, 255, 255, 0.8) !default;
$w-second: rgba(255, 255, 255, 0.45) !default;
$w-disable: rgba(255, 255, 255, 0.30) !default;
$w-border: rgba(255, 255, 255, 0.20) !default;
$w-divider: rgba(255, 255, 255, 0.12) !default;

// 遮罩
$w-mask: rgba(255, 255, 255, 0.75) !default;
$b-mask: rgba(0, 0, 0, 0.75) !default;

// 透明
$opacity: 0.45 !default;

// -------------------- 文字 ---------------------
// 大小 尺寸可能会设置为rpx、rem等
$fs-1: 12px !default;
$fs-2: 14px !default;
$fs-3: 16px !default;
$fs-4: 18px !default;
$fs-5: 20px !default;
$fs-6: 24px !default;
$fs-7: 30px !default;
$fs-8: 38px !default;
$fs-9: 46px !default;
$fs-10: 58px !default;

// 实际使用的大小
$font-size-sm: $fs-1 !default;
$font-size: $fs-2 !default;
$font-size-md: $fs-3 !default;
$font-size-lg: $fs-6 !default;

// 字重
$fw: 400 !default;
$fw-md: 500 !default;
$fw-lg: 600 !default;
$fw-bold: bold !default;

// 行高 (文本行高为文本大小 + 8)
$line-height-base: 1.6 !default;

// 字体
$font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei, 'Segoe UI', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji', sans-serif !default;
$code-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace !default;
$font-variant-base: tabular-nums !default;
$font-feature-settings-base: 'tnum' !default;

// -------------------- 距离 ---------------------
// 大小 尺寸可能会设置为rpx、rem等
$space-1: 4px !default;
$space-2: 8px !default;
$space-3: 12px !default;
$space-4: 16px !default;
$space-5: 20px !default;
$space-6: 24px !default;
$space-7: 28px !default;
$space-8: 32px !default;
$space-9: 36px !default;
$space-10: 40px !default;

// -------------------- 层级 ---------------------
$z-index-base: 10 !default; // 常规层级提升
$z-index: 1000 !default;    // 高于基础层
$z-index-drawer: 1400 !default;
$z-index-modal: 1800 !default;
$z-index-message: 2200 !default;

// -------------------- 动画 ---------------------
$animation-duration-slow: 0.3s !default; // Modal
$animation-duration-base: 0.2s !default;
$animation-duration-fast: 0.1s !default; // Tooltip

// -------------------- 装饰 ---------------------
// 圆角
$border-radius-sm: 2px !default;
$border-radius: 4px !default;
$border-radius-md: 8px !default;
$border-radius-lg: 16px !default;

// 阴影
$shadow-1: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px !default;
$shadow-1-focus: rgba(0, 0, 0, 0.3) 0px 2px 8px 0px !default;

$shadow-2: rgba(0, 0, 0, 0.2) 0px 4px 24px 0px !default;
$shadow-2-focus: rgba(0, 0, 0, 0.3) 0px 4px 24px 0px !default;

$shadow-3: rgba(0, 0, 0, 0.24) 0px 12px 30px 0px !default;
$shadow-3-focus: rgba(0, 0, 0, 0.3) 0px 12px 30px 0px !default;

// 用于在某个部件处于相同色调的背景下时对其进行高亮强调
$stress-shadow-w: -1px -1px 2px #fff, 1px 1px 2px #fff, 1px -1px 2px #fff, -1px 1px 2px #fff !default;
$stress-shadow-b: -1px -1px 2px #666, 1px 1px 2px #666, 1px -1px 2px #666, -1px 1px 2px #666 !default;

// -------------------- 断点 ---------------------
$xs: 0px !default; //	<576
$sm: 576px !default; //	≥576
$md: 768px !default; //	≥768
$lg: 992px !default; //	≥992
$xl: 1200px !default; //	≥1200
$xxl: 1600px !default; //	≥1600
