@import '../var/index';

*,
*::before,
*::after,
text,
view {
  box-sizing: border-box;
}

:host, page {
  color: $b-primary;
  font-family: $font-family;
  line-height: $line-height-base;
  background-color: $body-bg;
}
